[kibana-{{ kibana_major_version }}]
name=Kibana repository for {{ kibana_major_version }}.x packages
baseurl=https://packages.elastic.co/kibana/{{ kibana_major_version }}/centos
gpgcheck=1
gpgkey=https://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
